/* General body styling */
body {
    font-family: Arial, sans-serif; /* Setting a default web-safe font */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Light grey background for the page */
}

/* Navigation styling */
.navbar {
    background-color: #333; /* Darker background for the navbar */
}

.nav-link {
    color: #fff; /* White text for better contrast */
}

/* Login container specific styling */
.login-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: #fff; /* White background for the login area */
    margin-top: 50px; /* Adds margin above the login box */
}

.text-center {
    text-align: center; /* Centers text */
}

.btn-centered {
    display: block;
    width: 100%; /* Full width button */
    margin-top: 10px; /* Adds margin on top of the button */
}

/* Style adjustments for form inputs and labels */
.form-row {
    margin-bottom: 10px; /* Adds space between form rows */
}

label {
    font-weight: bold; /* Makes labels bold */
}

/*
.btn-primary{
    background-color: #e9f9ec;
}*/